<!DOCTYPE htnml>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link src="./js/app.js">
    </head>

    <body>
        <div class="main-content">{{> header}}
            <img class="portrait" src="./img/goku.jpg" alt="">
        </div>
        
    </body>


</html>  
